@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900
  dark:bg-gray-900 dark:text-gray-200 pb-10;
}
.container {
  @apply sm:max-w-screen-lg w-screen
  mx-auto mt-20;
}
.boxWithHover {
  @apply dark:bg-gray-700 dark:border-gray-600 dark:hover:border-gray-400
  border border-gray-900 hover:border-gray-500 transition-all
  dark:text-gray-200 rounded-md;
}
.boxWithHover-danger {
  @apply dark:bg-gray-700 dark:border-red-600 dark:hover:border-red-400
  border-2 border-red-900 hover:border-red-500 transition-all
  dark:text-red-200 text-red-800 rounded-md;
}

.switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75px;
  height: 37px;
}
.switch {
  @apply dark:border-gray-600 dark:hover:border-gray-400
  border-2 border-gray-900 hover:border-gray-500 transition-all cursor-pointer  rounded-full px-1;
}
.switch[data-ison='true'] {
  justify-content: flex-end;
}
.handle {
  width: 30px;
  height: 30px;
}
.handle {
  @apply dark:bg-gray-600 
   bg-gray-900 rounded-full;
}
